doctype html
| <% if (oldIeSupport) { %><!--[if lt IE 7]>      <html class="no-js ie lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
| <!--[if IE 7]>         <html class="no-js ie lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
| <!--[if IE 8]>         <html class="no-js ie lt-ie10 lt-ie9"> <![endif]-->
| <!--[if IE 9]>         <html class="no-js ie lt-ie10"> <![endif]--> <% } %>
html(class="no-js", lang="en")
  include ../partials/htmlHeader
  body
    include ../partials/header
    block header
    block content
    include ../partials/footer
    include ../partials/htmlFooter