extends layout/layout
include mixins/placeholders
#HEADER SECTION
block header
  
block content
  // begin: content container
  .container
    // begin: content
    h1 Bootstrap starter template
    p.lead
      | Use this document as a way to quickly start any new project.
      br
      | All you get is this text and a mostly barebones HTML document.
    p
      | Borrowed from the 
      a(href='http://getbootstrap.com/examples/starter-template/') Bootstrap starter template
      | .
    // end: content
  // end: content container