extends layout/layout
include mixins/placeholders
#HEADER SECTION
block header
  
block content
  // begin: content container
  .container
    // begin: content
    h1 Let’s get started!
    // end: content
  // end: content container