| <!--  JavaScript
|  =======================================================
|  Placed at the end of the document. Performance reasons.
|  Non minified/merged versions for debugging purposes are
|  replaced in the production ready build.
|  -->
|  <% if (includeSass) %><!-- Libs -->
|  <!-- build:js:dist libs/libs.js -->
|  <script src="libs/jquery/dist/jquery.js"></script>
| <% if (oldIeSupport) { %> <script src="libs/jquery-placeholder/jquery.placeholder.js"></script><% } %>
|  <script src="libs/modernizr/modernizr.js"></script>
|  <script src="libs/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
|  <script src="libs/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
|  <script src="libs/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
|  <script src="libs/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
|  <script src="libs/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
|  <script src="libs/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
|  <script src="libs/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
|  <script src="libs/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
|  <script src="libs/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
|  <script src="libs/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
|  <script src="libs/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
|  <script src="libs/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
|  <!-- /build --> <% } else { %> <!-- Libs -->
|  <!-- build:js:dist libs/libs.js -->
|  <script src="libs/jquery/dist/jquery.js"></script>
| <% if (oldIeSupport) { %> <script src="libs/jquery-placeholder/jquery.placeholder.js"></script><% } %>
|  <script src="libs/modernizr/modernizr.js"></script>
|  <script src="libs/bootstrap/js/affix.js"></script>
|  <script src="libs/bootstrap/js/alert.js"></script>
|  <script src="libs/bootstrap/js/button.js"></script>
|  <script src="libs/bootstrap/js/carousel.js"></script>
|  <script src="libs/bootstrap/js/collapse.js"></script>
|  <script src="libs/bootstrap/js/dropdown.js"></script>
|  <script src="libs/bootstrap/js/modal.js"></script>
|  <script src="libs/bootstrap/js/tooltip.js"></script>
|  <script src="libs/bootstrap/js/popover.js"></script>
|  <script src="libs/bootstrap/js/scrollspy.js"></script>
|  <script src="libs/bootstrap/js/tab.js"></script>
|  <script src="libs/bootstrap/js/transition.js"></script>
|  <!-- /build --> <% } %>
|  <!-- Own JS -->
|  <!-- build:js:dist assets/js/built.min.js -->
|  <script src="assets/js/base.js"></script>
|  <script src="assets/js/module.js"></script>
|  <!-- /build -->
|  <!-- External scripts (eg. analytics) should be placed here -->